<!-- --back to the top-------- -->
<a onclick="window.location.hash='scrollingText';" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>

<!-- ----------scrolling text------ -->
<div class="text-wrap" id="scrollingText">
    <div class="marquee">
      <p> <%= image_tag "rails-logo.png", class: "rails-logo" %> <i class="fab fa-css3-alt"></i> <i class="fab fa-html5"></i> <i class="fab fa-react"></i> <i class="fab fa-sass"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-js"></i> <i class="fab fa-git"></i> <i class="fab fa-github-alt"></i>  SQL </p>
    </div>
</div>
<br>
<br>
<br>
<!-------modal resume-------  -->

<div id="simpleModal" class="simpleModal">
    <div class="modalContent">
      <span id="closeBtn" class="closeBtn">+</span>
        <%= image_tag "https://res.cloudinary.com/dxoo6hrvw/image/upload/v1623414765/db-uk/resume-1_f5y0ff.png"  %>
        <%= image_tag "https://res.cloudinary.com/dxoo6hrvw/image/upload/v1623414765/db-uk/resume-2_tu7j2l.png"  %>
      <br>
      <%= link_to 'DOWNLOAD', 'Lyubomir-Dias-Resume.pdf', download: 'L.Dias-Resume.pdf', class: "text-center btn btn-primary" %>
    </div>
</div>

<!----banner------->

<div class="wrap pb-5" data-aos="zoom-in" data-aos-duration="3000">
  <!-- -------main links---- -->
  <div class="main-links1 mb-5" data-aos="fade-down" data-aos-duration="3000">
    <ul>
      <li><a onclick="window.location.hash='blog';">Blog</a></li>
      <li><a onclick="window.location.hash='bio';">Bio</a></li>
      <li><a class="modalBtn" id="modalBtn">Resume</a></li>
      <li><a onclick="window.location.hash='myProjects';">Projects</a></li>
      <li><a onclick="window.location.hash='contacts';">Contacts</a></li>
    </ul>
  </div>

  <h1 data-aos="flip-left"
  data-aos-easing="ease-out-cubic"
  data-aos-duration="2000"><strong>Lyubo Dias</strong></h1>
  <div id="app">
    <div id="wrapper">
      <h1 class="glitch web" data-text="web &nbsp; dev">web &nbsp; dev</h1>
    </div>
  </div>
  <!-- social links -->

  <div class="media-links mt-3">
    <ul class="media-links-ul">
      <li class="media-links-li"><a href="https://www.linkedin.com/in/lu-dias/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li class="media-links-li"><a href="https://github.com/LyuboDias" target="_blank"><i class="fab fa-github"></i></a></li>
      <li class="media-links-li"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
  </div>
</div>

<!-- ----text animation--->
<div class="animation">
  <div class="bottom-container">
    <h3>Hello, there!</h3>
  </div>

  <div class="top-container">
    <h3>Hello, there!</h3>
  </div>
</div>

<!-- ----------------------- -->
<div class="wrap-info pb-5 pt-5" >
  <h2 class="p-5">My name is  <span class="spec-text">Lyubomir Dias</span> , a <strong>Full Stack Web Developer</strong></h2>
  <br>
  <div class="container p-2">
    <h4>
      I have completed Le Wagon, the #1 coding Bootcamp in the world in 2020.
      My technical skills include using software such as Sublime, VSCode, Programming languages such as JavaScript, Ruby on Rails, HTML, CSS, and React. I have worked with Operating Systems that include UBUNTU, Mac Os, and Windows. My objective is to create and maintain optimally functional websites and applications. My experience enriched my understanding and skills in web development by working with projects across widely varied niches. One of my goals includes constantly improving my expertise in web development.
    </h4>
    <br>

    <%= image_tag "https://res.cloudinary.com/dxoo6hrvw/image/upload/v1602611886/db-uk/ldias-certificate_pjlnsd.png", class: "le-wagon-img" %>
    <br>
    <br>
    <!-- ---fav resources---- -->
    <h4>Favorite Resource</h4>
    <br>
    <ul>
      <li>YouTube</li>
      <li>Free Code Camp</li>
      <li>Udemy</li>
      <li>W3School</li>
    </ul>
  </div>
</div>

  <!-- ----------bio-------------- -->

<div id="bio" class=" bio p-2" data-aos="zoom-out" data-aos-duration="3000">
  <div class="inner-bio container mt-5">
    <h3 class="text-center pt-5">More about <span class="spec-text">me</span> ...</h3>
    <br>
    <p>
      I am passionate about Sports, Tech, and Travel, and have an educational background in hospitality and business management. After I graduated from my education in Bulgaria, I worked in a variety of roles including being a Personal Trainer and a Movie Extra. Whilst these were roles that I enjoyed, I have decided to follow my bigger passion of working in technology. Started my journey at the beginning of 2020, and since then I`m very passionate and excited to work on new projects.At the moment I`m still <span class="spec-text">coding and learning</span> daily.
    </p>
  </div>
</div>

<!-- ------projects------ -->
  <br>
  <h2 class="text-center" id="myProjects"> <span class="spec-text">Projects</span>... </h2>
  <br>
  <br>
  <h4 class="text-center">Visualized <span class="spec-text">Pathfinding</span> Algorithm </h4>
  <br>
  <p class="text-center">Click and drag anywhere on the grid to place police officers,<br> when   you ready press "Get the money!" and see if the thief would manage to reach the cash.
  <br>
        ( powered by Dijkstra )
  </p>
  <div id="root" class="react-div mt-5"></div>
  <br>
<%# ------- Air Chef -------------------- %>
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "airchef.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">AirChef</span></h4>
        <a href="http://airchef2020.herokuapp.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/carabell94/AirChef" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">I was part of a team of four  that designed, implemented and shipped to production an AirBNB clone in one week. This application is platform where users can browse through available chefs and book them for their events , at same time user can sign as a chef too.</p>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>SASS</li>
          <li>HTML5</li>
          <li>PostgreSQL</li>
          <li>JS</li>
          <li>Cloudinary</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">

      <h4><span class="spec-text">My Role</span></h4>

      <p>In this project, I was working on styling various pages, and mainly working at the front end. I worked on styling and the functionality of the searching bar where users can filter chefs by location and cousins. In beginning, we have used video as a banner but removed it later on for a better user experience.</p>

      <h4><span class="spec-text">Notable Features</span></h4>

      <ul style="list-style: none;">
        <li>Registration</li>
        <li>Login</li>
        <li>Account Confirmation</li>
        <li>Bookings</li>
        <li>Ratings</li>
        <li>Reviews</li>
        <li>Image Uploading</li>
        <li>Geocoding</li>
      </ul>
    </div>
  </div>

  <%# ----------------   Festipal -------------------- %>
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "festipal.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">FestiPal</span></h4>
        <a href="http://www.yourfestipal.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/carabell94/festipal" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text"> This project was built in the last two weeks of the coding bootcamp. Festival is a web application that allow users to search and select festivals where they can create schedule/plan for it with the options to select day, artist, time and stage. Once a user has created their plan, they can then download it. The application has been optimised for mobile screen as well as desktop.</p>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>Vanilla JS</li>
          <li>Cloudinary</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">
      <h4><span class="spec-text">My Role</span></h4>

      <p>We worked on this project for about 10 days. My work included front-and (styling most of the pages: background, font, responsiveness) and back-end (I did the review feature where users can leave a comment and star rating). </p>

      <h4><span class="spec-text">Notable Features</span></h4>

      <ul style="list-style: none;">
        <li>Registration</li>
        <li>Login</li>
        <li>Account Confirmation</li>
        <li>Bookings</li>
        <li>Ratings</li>
        <li>Reviews</li>
        <li>Image Uploading</li>
        <li>Embeds</li>
      </ul>

      <h4><span class="spec-text">My Solution</span></h4>

      <p>Embedding social media shortcuts reflectin the festival that the user chooses, I have done the social media links, and used JS to add dynamic text on the main page. I did the rating and comment section as well as styling it. I have added a magnifying glass to the map photo. </p>

    </div>
  </div>

    <%# ---------------------  NCC -------------------- %>
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "https://res.cloudinary.com/dxoo6hrvw/image/upload/v1623413912/NCC/Screenshot_2021-06-11_at_13.17.29_gebcor.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">Nessy Creativity Crafts</span></h4>
        <a href="http://www.nessycreativitycrafts.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/LyuboDias/NessyCreativityCrafts" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">I am currently developing an E-commerce app with SMTP Mailing, Stripe payments and ActiveRecords. Working on admin panel, which will improve internal operating efficiency. </p>
        <h5 class="spec-text">Project still under construction.</h5>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>PostgreSQL</li>
          <li>JS</li>
          <li>Cloudinary</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">
      <h4><span class="spec-text">Goals</span></h4>

      <p>Building E-commerce, where the user will be able to log in, search through available items, filter them, save in basket, SMTP Mailing and make a Stripe payments.
      </p>

      <h4><span class="spec-text">Notable Features</span></h4>

      <ul style="list-style: none;">
        <li>Registration</li>
        <li>Login</li>
        <li>Account Confirmation</li>
        <li>Payments</li>
      </ul>
      <h4><span class="spec-text">My Solution</span></h4>
      <p>Integrating Stripe payments. Using Devise An authentication gem for Rails.Mailer in Rails.</p>
    </div>
  </div>
</div>

<%# ------- Bisimpact -------------------- %>
<div id="projects" class="p-1 projects ">
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "bisimpact.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">BisImpact</span></h4>
        <a href="https://www.bisimpact.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/LyuboDias/db-impact" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">BisImpact is a website developed for a future social impact consultancy business. I co-built this with another graduate. This app has been optimised for all sizes of screens with up to date technologies and frameworks.</p>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>SASS</li>
          <li>HTML5</li>
          <li>JavaScript</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">
      <h4><span class="spec-text">Goals</span></h4>

      <p>Accessible user interface.Easy to reach Information.Logical menus, a good amount of photos well distributed on the web app.</p>

      <h4><span class="spec-text">Notable Features</span></h4>

      <ul style="list-style: none;">
        <li>Embeds</li>
        <li>FormSpree</li>
        <li>AOS JS Library</li>
      </ul>
      <h4><span class="spec-text">Solution</span></h4>
      <p>Nice and clean design, tidy information accompanied by photos. Drop down navigation menu.</p>
    </div>
  </div>

  <%# ---------------------  Dr. Sen -------------------- %>
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "dr-sen.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">Dr. Sen Portfolio</span></h4>
        <a href="https://db-dr.herokuapp.com" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/LyuboDias/db-DR" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">Website that works as a portfolio to showcase the work of Consultant General Paediatrician-Dr. Sen, and share general information with patients. The website also include courses and links to videos that are focused to prepare doctors for exam that need to be taken to be able to work into the UK.  </p>
        <h5 class="spec-text">Project still under construction.</h5>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>Vanilla JS</li>
          <li>AOS JS</li>
          <li>Cloudinary</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">
      <h4><span class="spec-text">Goals</span></h4>

      <p>Building personal portfolio for General Paeditrician, that includes small datebase with GP courses.
      </p>

      <h4><span class="spec-text">Notable Features</span></h4>

      <ul style="list-style: none;">
        <li>Embeds</li>
        <li>FormSpree</li>
        <li>AOS JS Library</li>
      </ul>

      <h4><span class="spec-text">My Solution</span></h4>

      <p>Proffesional clean design, easy access to the menu and all information.</p>

    </div>
  </div>
  <br>
  <br>
  <br>
<!-- -----BLOG------------------ -->
<div id="blog" class="blog p-2" data-aos="zoom-out" data-aos-duration="3000" >
  <div class="container p-2">
      <h3>Why and When should you use <span class="spec-text"> React with Ruby on Rails</span>
      </h3>
      <br>
      <h5>Why did these people end up choosing React with Ruby on Rails?</h5>
      <p>
        Reduced server response time — The speed of your website/web app matters. A slow-loading app can be a business-killer. Companies have been shown to reduce their server response time up to 90% using the combination of Ruby on Rails and React.
        <br>
        Anyone would know how important web performance is for eCommerce SEO. Before using the power of <span class="spec-text"> Ruby on Rails with React</span>, the median response time was 1100ms which dropped to 120ms. This translates to better user experience and more conversions.
        <br>
        This improvement was achieved using React on Rails Gem developed by Justin Gordon. You might argue why not use Rails/webpacker? It lacks server rendering, which is super important for UX and SEO.
        <br>
        Cut down Memory usage — Egghead.io experienced a lot of timeouts in every hour, and they seemed to be clueless about it. After deploying React with Ruby on Rails, there were marked improvements in memory usage and response time.
        <br>
        Development speed, quality & business model — When your biggest concern is time to market, Rails combined with React works wonders. If you are looking to build something based on the freemium model, Rails works amazing. You might have to scale sooner but the revenues will take care of this.
        <br>
        Another great aspect is if you are testing waters, you will get to success/failure a lot faster to make appropriate future decisions. On the contrary, if you are contemplating earning from ad revenues and have a huge base of free users, Rails will probably not go with React here.
        <br>
        Low learning curve — If you are building a prototype and short on time, both these technologies work magic. It’s easier and faster to ship your MVP with <span class="spec-text"> Ruby on Rails with React</span>. Use RoR for the back-end and React for the front end creating interactive UIs.
        <br>
        Enjoy stability — RoR is backed by a fantastic community and there are gems for what not. React comes from Facebook and the APIs don’t change much. So, you can expect your app to have a stable release.
      </p>
      <br>
      <br>
      <h5>Ending Notes</h5>
      <br>
      <p>I, honestly, feel it is more about what one is comfortable with. Sure,   one has to take into consideration the community, future developments, how long a framework/technology has been present. Ultimately, it boils down to how you use the tech-stack to make your users happy. When you are building and scaling large web applications, definitely, you need to take into account the above-mentioned things and see what deems to be right for your business and users.
      </p>
      <br>
      <br>
      <p>Source: <span class="spec-text">Solutelabs.com</span> </p>
    </div>
    <div class="media-links mt-3" id="contacts">
      <ul class="media-links-ul">
        <li class="media-links-li"><a href="https://www.linkedin.com/in/lu-dias/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li class="media-links-li"><a href="https://github.com/LyuboDias" target="_blank"><i class="fab fa-github"></i></a></li>
        <li class="media-links-li"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      </ul>

    </div>
    <%# ------terms and policy------- %>
    <br>
    <div class="container d-flex justify-content-center" >
      <h6>
        <%= link_to "Terms of Use", terms_of_use_path, class: "text-center text-white" %>
        •
        <%= link_to "Privacy Policy", privacy_policy_path, class: "text-center text-white" %>
      </h6>
    </div>
</div>

<div class="div-to-music text-center pt-5">
  <%= link_to image_tag("db-music-trans.png", class: "link-to-music"), music_path %>
  <p class="blue">by Antoan Dias</p>
</div> 



<!-- ---contacts----- -->
<div class="footer container mt-5 mb-5"  >
  <p class="text-center">© 2020 <span class="spec-text">db</span> WEB</p>
    <%# -------- link to db MUSIC----------- %>
    <%#<div class="by-hover1 db-music1 text-left">
        <%= link_to image_tag("db-music-trans.png", class: "db-web-logo by-hover1"), music_path %><%#<p class="by-music1">by Antoan Dias</p>
    </div>%>
</div>

<%# ----mobile navbar------- %>
<div class="mobile-navbar">
    <ul class="mobile-navbar-ul">
      <li class="mobile-navbar-li"><a href="#blog"><i class="fab fa-blogger-b"></i><br>Blog</a></li>
      <li class="mobile-navbar-li"><a href="#bio"><i class="fas fa-book-open"></i><br>Bio</a></li>
      <li class="mobile-navbar-li"><a id="modalBtn2"><i class="fas fa-file"></i><br>Resume</a></li>  <!-- need to make it work to open modal-->
      <li class="mobile-navbar-li"><a href="#projects" ><i class="fas fa-laptop-code"></i><br>Projects</a></li>
      <li class="mobile-navbar-li"><a href="#contacts"><i class="fas fa-address-book"></i> <br>Contacts</a></li>
    </ul>
</div>
<%# ---------cookies modal------ %>

<div class="modal fade pr-0" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="notice d-flex justify-content-between align-items-center">
          <div class="cookie-text">&nbsp; &nbsp; This website uses cookies to personalize content and analyse traffic in order to offer you a better experience.</div>
          <div class="modal-buttons d-flex flex-column flex-lg-row">
            <a href="#" class="btn btn-danger btn-sm" data-dismiss="modal">I accept</a>
            <a href="https://www.db-uk.net/privacy-policy" class="btn btn-danger btn-sm" data-dismiss="modal">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
