<!-- --back to the top-------- -->
<a href="#" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>

<!-- ----------scrolling text------ -->
<div class="text-wrap">
    <div class="marquee">
      <p> <%= image_tag "rails-logo.png", class: "rails-logo" %> <i class="fab fa-css3-alt"></i> <i class="fab fa-html5"></i> <i class="fab fa-react"></i> <i class="fab fa-sass"></i> <i class="fab fa-bootstrap"></i> <i class="fab fa-js"></i> <i class="fab fa-git"></i> <i class="fab fa-github-alt"></i>  SQL </p>
    </div>
</div>
<br>
<br>
<br>
<!-------modal resume-------  -->

  <div id="simpleModal" class="simpleModal">
      <div class="modalContent">
        <span id="closeBtn" class="closeBtn">+</span>
          <%= image_tag "resume1.png"  %>
          <%= image_tag "resume2.png" %>
        <br>
        <a href="#" download="/images/resume1.png" class="text-center">
          <button type="button" class="btn btn-danger dwn-btn">Download</button>
        </a>
      </div>
  </div>

<!----banner------->

<div class="wrap pb-5" data-aos="zoom-in" data-aos-duration="3000">




  <!-- -------main links---- -->
  <div class="main-links" data-aos="fade-down" data-aos-duration="3000">
    <ul>
      <li><a href="#blog">Blog</a></li>
      <li><a href="#bio">Bio</a></li>
      <li><a class="modalBtn" id="modalBtn">Resume</a></li>
      <li><a href="#projects" >Projects</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </div>


  <h1 data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000"><strong>db</strong></h1>
  <div id="app">
    <div id="wrapper">
      <h1 class="glitch web" data-text="web">web</h1>
      <!-- <i class="fas fa-code"></i> -->
    </div>
  </div>
  <!-- media links -->

  <div class="media-links mt-3">
    <ul class="media-links-ul">
      <li class="media-links-li"><a href="https://www.linkedin.com/in/lu-dias/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li class="media-links-li"><a href="https://github.com/LyuboDias" target="_blank"><i class="fab fa-github"></i></a></li>
      <li class="media-links-li"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li class="media-links-li"><a href="#"><i class="fas fa-at"></i></a></li>
    </ul>
  </div>

</div>

<!-- ----text animation--->
<div class="animation">
  <div class="bottom-container">
    <h3>Hello, there!</h3>
  </div>

  <div class="top-container">
    <h3>Hello, there!</h3>
  </div>
</div>

<!-- ----------------------- -->
<div class="wrap-info pb-5 pt-5" >
  <h2 class="p-5">Hi my name is  <span class="spec-text">Lyubomir Dias</span> , a Junior <strong>Full Stack Web Developer</strong></h2>
  <br>
  <div class="container p-2">
    <h4>
    Completed Le Wagon, #1 coding Bootcamp in the world.
    Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, delectus. Modi nesciunt dolores excepturi consequuntur inventore expedita. Temporibus nostrum quasi nisi saepe, tempora consequatur praesentium? Cumque praesentium blanditiis sapiente voluptatibus.</h4>
    <br>
    
    <%= image_tag "https://res.cloudinary.com/dxoo6hrvw/image/upload/v1602611886/ldias-certificate_pjlnsd.png", class: "le-wagon-img" %>
    <br>
    <br>
    <!-- ---fav resources---- -->
    <h4>Favorite Resource</h4>
    <br>
  
    <ul>
      <li>YouTube</li>
      <li>Free Code Camp</li>
      <li>Udemy</li>
      <li>W3School</li>
    </ul>
  </div>
</div>

  <!-- ----------bio-------------- -->

<div id="bio" class=" bio p-2" data-aos="zoom-out" data-aos-duration="3000">
  <div class="inner-bio container">
    <h3 class="text-center">Bio</h3>
    <br>
    <p>Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Iusto neque eius facilis voluptatem aperiam molestiae, ipsum quod, labore. Cumque quod, velit excepturi molestias ut totam voluptatibus dolores facere hic atque ipsa aliquid vero dignissimos aperiam at quibusdam sapiente, esse suscipit magnam laboriosam quaerat ducimus est cupiditate earum voluptatem. Voluptates, accusamus placeat atque eos nam exercitationem eligendi tempore adipisci. Repellendus vel modi praesentium veritatis doloribus earum nostrum sint, consequuntur quisquam, ullam veniam blanditiis assumenda iure voluptate quidem natus optio. Praesentium excepturi fugit, provident qui doloremque aliquid accusantium sit. Voluptas, fugiat corrupti quod quos, rem recusandae similique cum vel quidem. Inventore, est.</p>
  </div>
</div>

<!-- ------projects------ -->
<div id="projects" class="p-5 projects ">
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "bisimpact.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">BisImpact</span></h4>
        <a href="https://www.bisimpact.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/LyuboDias/db-impact" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>PostgreSQL</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">
      <h4><span class="spec-text">My Role</span></h4>

      <p>In this project I oversaw the entire SDLC. I met regularly with the client discussing project requirements, vision and end goals, while working in a scrum like manner.</p>

      <h4><span class="spec-text">Project Difficulties</span></h4>

      <p>This project really tested my skills in architecting out a workable solution. In the beginning of development, the first thing I did was starting up an express server. With no plan of action, I wasted two weeks worth of work before I was forced to start over.</p>

      <h4><span class="spec-text">My Solution</span></h4>

      <p>To solve this struggle, I decided to kick it old school with some good ol' Object Oriented Design and Analysis. Following a planning structure, I was able to improve my work efficency and reach my set sprints.</p>

    </div>
  </div>
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "airchef.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">AirChef</span></h4>
        <a href="http://airchef2020.herokuapp.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/carabell94/AirChef" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">This app is hosted on a Heroku Free Dyno Plan, meaning that on the initial load, the server may need to start which can cause a small delay of 15 - 20 seconds or so. Thank you.</p>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>PostgreSQL</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">

      <h4><span class="spec-text">My Role</span></h4>

      <p>In this project I oversaw the entire SDLC. I met regularly with the client discussing project requirements, vision and end goals, while working in a scrum like manner.</p>

      <h4><span class="spec-text">Project Difficulties</span></h4>

      <p>This project really tested my skills in architecting out a workable solution. In the beginning of development, the first thing I did was starting up an express server. With no plan of action, I wasted two weeks worth of work before I was forced to start over.</p>

      <h4><span class="spec-text">My Solution</span></h4>

      <p>To solve this struggle, I decided to kick it old school with some good ol' Object Oriented Design and Analysis. Following a planning structure, I was able to improve my work efficency and reach my set sprints.</p>

    </div>
  </div>
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "festipal.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">FestiPal</span></h4>
        <a href="http://www.yourfestipal.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/carabell94/festipal" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>PostgreSQL</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">
      <h4><span class="spec-text">My Role</span></h4>

      <p>In this project I oversaw the entire SDLC. I met regularly with the client discussing project requirements, vision and end goals, while working in a scrum like manner.</p>

      <h4><span class="spec-text">Project Difficulties</span></h4>

      <p>This project really tested my skills in architecting out a workable solution. In the beginning of development, the first thing I did was starting up an express server. With no plan of action, I wasted two weeks worth of work before I was forced to start over.</p>

      <h4><span class="spec-text">My Solution</span></h4>

      <p>To solve this struggle, I decided to kick it old school with some good ol' Object Oriented Design and Analysis. Following a planning structure, I was able to improve my work efficency and reach my set sprints.</p>

    </div>
  </div>
  <div class="card-wrap mt-5">
    <div class="card" style="width: 40%;" data-aos="fade-right" data-aos-duration="3000">
      <%= image_tag "ncc.png", class: "card-img" %>
      <div class="card-body">
        <h4><span class="spec-text card-title">Nessy Creativity Crafts</span></h4>
        <a href="http://www.nessycreativitycrafts.com/" target="_blank"><i class="fas fa-tv"></i>Live Preview</a>
        <a href="https://github.com/LyuboDias/NessyCreativityCrafts" target="_blank"><i class="fab fa-git-alt"></i>Source Code</a>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <h4>Technologies Used</h4>
        <ul>
          <li>Ruby on Rails</li>
          <li>Sass</li>
          <li>HTML5</li>
          <li>PostgreSQL</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
    <div class="project-info" data-aos="fade-left" data-aos-duration="3000">
      <h4><span class="spec-text">My Role</span></h4>

      <p>In this project I oversaw the entire SDLC. I met regularly with the client discussing project requirements, vision and end goals, while working in a scrum like manner.</p>

      <h4><span class="spec-text">Project Difficulties</span></h4>

      <p>This project really tested my skills in architecting out a workable solution. In the beginning of development, the first thing I did was starting up an express server. With no plan of action, I wasted two weeks worth of work before I was forced to start over.</p>

      <h4><span class="spec-text">My Solution</span></h4>

      <p>To solve this struggle, I decided to kick it old school with some good ol' Object Oriented Design and Analysis. Following a planning structure, I was able to improve my work efficency and reach my set sprints.</p>

    </div>
  </div>
</div>

<!-- -----BLOG------------------ -->
<div id="blog" class="blog p-2" data-aos="zoom-out" data-aos-duration="3000" >
  <div class="container p-2">
      <h4 class="text-center">My Blog</h4>
      <br>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit provident alias aliquid ut rem praesentium accusamus modi pariatur, exercitationem quo quos aperiam optio recusandae sit nostrum corrupti. Ea facere commodi possimus ipsam. Quisquam neque placeat delectus eos ipsam corporis, aspernatur quos ipsa, dolorum aliquam beatae inventore sunt porro dolores odio quae. Quam repellendus reprehenderit laboriosam voluptatum quis natus, aliquam odio molestias, voluptatem sequi. Ratione unde quibusdam eaque expedita hic? Reprehenderit odit natus eligendi fugiat vero reiciendis magnam dolorum ullam. Praesentium, sunt est error officiis aliquid blanditiis adipisci eum vel. Quod illum temporibus eius quas similique et odio fugiat corporis quis aut, pariatur, eaque, error nobis! Nihil aliquid nesciunt fuga facilis ut, alias id eveniet amet eum rem consequuntur ducimus deleniti doloremque. Impedit dignissimos nisi libero eos laborum tempore quia iusto odit optio sit, iure perspiciatis vero voluptates illum illo harum cupiditate ratione fugiat officia nobis, ducimus veniam reiciendis. Eum nihil ex nam dolore error, deleniti obcaecati adipisci itaque porro laudantium earum molestiae beatae quisquam voluptates tempore. Ipsum, obcaecati vitae sunt voluptatem neque sed numquam harum deserunt necessitatibus error facilis molestias, doloremque. Nostrum itaque fuga nam, saepe impedit inventore quae distinctio maiores modi ut exercitationem non eaque fugit, provident velit ea!</p>
    </div>
</div>

<div class="div-to-music text-center pt-5">
  <%= link_to image_tag("db-music-trans.png", class: "link-to-music"), music_path %>
  <p class="blue">by Antoan Dias</p>
</div>

<!-- ---contacts----- -->
<div class="footer container mt-5 mb-5" id="contacts" >
  <div class="media-links" >
    <ul class="media-links-ul">
      <li class="media-links-li"><a href="https://www.linkedin.com/in/lu-dias/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
      <li class="media-links-li"><a href="https://github.com/LyuboDias" target="_blank"><i class="fab fa-github"></i></a></li>
      <li class="media-links-li"><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <li class="media-links-li"><a href="#"><i class="fas fa-at"></i></a></li>
    </ul>
  </div>
  <p class="text-center">© 2020 <span class="spec-text">db</span> WEB</p>
    <div class="by-hover1 db-music1 text-left">
        <%= link_to image_tag("db-music-trans.png", class: "db-web-logo by-hover1"), music_path %><p class="by-music1">by Antoan Dias</p>
    </div>
</div>


<div class="mobile-navbar">
    <ul class="mobile-navbar-ul">
      <li class="mobile-navbar-li"><a href="#blog"><i class="fab fa-blogger-b"></i><br>Blog</a></li>
      <li class="mobile-navbar-li"><a href="#bio"><i class="fas fa-book-open"></i><br>Bio</a></li>
      <li class="mobile-navbar-li"><a id="modalBtn2"><i class="fas fa-file"></i><br>Resume</a></li>  <!-- need to make it work to open modal-->
      <li class="mobile-navbar-li"><a href="#projects" ><i class="fas fa-laptop-code"></i><br>Projects</a></li>
      <li class="mobile-navbar-li"><a href="#contacts"><i class="fas fa-address-book"></i> <br>Contacts</a></li>
    </ul>
</div>

