<!DOCTYPE html>
<html>
  <head>
    <title>Dias Brothers UK WEB/MUSIC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="description" content="Dias Brothers providing Web Services by Lyubomir Dias (Full Stack Web Developer) and Music by Antoan Dias (Beat Maker)." />
    <meta property="og:image" content="<%= 'db-web-music-logo.png' %>" />
    <meta property="og:url" content="(THE CURRENT REQUESTED URL)" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Dias Brothers UK WEB/MUSIC" />
    <meta property="og:description" content="Dias Brothers providing Web Services by Lyubomir Dias (Full Stack Web Developer) and Music by Antoan Dias (Beat Maker)." />
    <meta property="ns:my_custom_meta" content="a value" />
    <meta name="charset" content="utf-8" />
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/5.2.1/css/font-awesome.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <%= favicon_link_tag asset_path('db-logo.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
